# Logs
logs
*.log
npm-debug.log*

# Environment & Secrets
.env
.env*.local

# Build & Dependencies
node_modules
dist
dist-ssr

# IDE & OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
